[submodule "lib/swyp"]
	path = lib/swyp
	url = git@github.com:Swyp/Swyp.git
[submodule "lib/ELCImagePickerController"]
	path = lib/ELCImagePickerController
	url = git@github.com:alist/ELCImagePickerController.git 
